header {
  background-color: $red;

  .container {
    padding: 16px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include tablet() {
      padding: 16px 36px;
    }

    @include desktop() {
      padding: 16px 12px;
    }
  }

  a {
    color: $white;

    &:hover {
      color: $red-dark;
    }
  }

  .nav {
    display: none;

    @include tablet() {
      display: flex;
      gap: 64px;

      .nav-link {
        display: block;
        font-size: 20px;
        line-height: 30px;
      }
    }

    @include desktop() {
      padding: 16px 12px;
    }
  }

  .logo {
    width: 80px;
  }

  .menu {
    font-size: 40px;
  }

  @include tablet() {
    .nav-btn {
      display: none;
    }
  }
}
