h2.subtitle{
  font-size: 24px;
  line-height: 36px;
  font-weight: $fw-bold;
  margin-bottom: 24px;
}

.faq-item{
  & + &{
    margin-top: 24px;

    @include tablet(){
      margin-top: 32px;
    }
  }

  h3{
    font-size: 20px;
    line-height: 30px;
    font-weight: $fw-bold;
    margin-bottom: 8px;
  }

  p{
    font-size: 16px;
    line-height: 24px;
    font-weight: $fw-regular;
  }
}