@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css2?family=Material+Icons+Outlined");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  line-height: 1.5; }

img {
  display: block;
  max-width: 100%;
  height: auto; }

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

a {
  text-decoration: none; }
  a:hover {
    cursor: pointer; }

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  width: 100%; }

body {
  font-family: "Roboto", "Noto Sans TC", sans-serif; }

.card-1-2-3 {
  max-width: 100%; }
  @media (min-width: 768px) {
    .card-1-2-3 {
      max-width: 50%;
      padding-left: 12px;
      padding-right: 12px; } }
  @media (min-width: 1280px) {
    .card-1-2-3 {
      max-width: 33.333333%;
      padding-left: 12px;
      padding-right: 12px; } }

.card-1-2-4 {
  max-width: 100%; }
  @media (min-width: 768px) {
    .card-1-2-4 {
      max-width: 50%;
      padding-left: 12px;
      padding-right: 12px; } }
  @media (min-width: 1280px) {
    .card-1-2-4 {
      max-width: 25%;
      padding-left: 12px;
      padding-right: 12px; } }

.container {
  max-width: 100%;
  padding-left: 13px;
  padding-right: 14px; }
  @media (min-width: 768px) {
    .container {
      max-width: 100%;
      padding-left: 36px;
      padding-right: 36px; } }
  @media (min-width: 1280px) {
    .container {
      max-width: 1320px;
      margin: 0 auto;
      padding-right: 12px;
      padding-left: 12px; } }

header {
  background-color: #aa0601; }
  header .container {
    padding: 16px 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (min-width: 768px) {
      header .container {
        padding: 16px 36px; } }
    @media (min-width: 1280px) {
      header .container {
        padding: 16px 12px; } }
  header a {
    color: #ffffff;
    cursor: pointer;
    -webkit-transition: all .1s;
    -o-transition: all .1s;
    transition: all .1s; }
    header a:hover {
      color: #CED4DA;
      -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
              transform: scale(1.1); }
  header .nav {
    display: none; }
    @media (min-width: 768px) {
      header .nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 64px; }
        header .nav .nav-link {
          display: block;
          font-size: 20px;
          line-height: 30px;
          font-weight: 400; } }
    @media (min-width: 1280px) {
      header .nav {
        padding: 16px 12px; } }
  header .logo {
    width: 80px; }
  header .material-icons {
    font-size: 40px; }
  @media (min-width: 768px) {
    header .nav-btn {
      display: none; } }

footer {
  background-color: #aa0601; }
  footer a {
    color: #ffffff;
    cursor: pointer;
    -webkit-transition: all .1s;
    -o-transition: all .1s;
    transition: all .1s; }
    footer a:hover {
      color: #CED4DA;
      -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
              transform: scale(1.1); }
  footer .container {
    padding: 24px 15px; }
    @media (min-width: 768px) {
      footer .container {
        padding: 48px 36px 40px; } }
    @media (min-width: 1280px) {
      footer .container {
        padding: 48px 12px 32px; } }
  footer .nav {
    display: none; }
    @media (min-width: 768px) {
      footer .nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 48px; }
        footer .nav .nav-link {
          display: block;
          font-size: 16px;
          line-height: 24px;
          font-weight: 400; } }

.information {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  border-bottom: 1px solid #ffffff;
  padding-bottom: 24px;
  margin-bottom: 16px; }
  @media (min-width: 768px) {
    .information {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding-bottom: 32px;
      margin-bottom: 32px; } }

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px; }
  @media (min-width: 768px) {
    .social {
      gap: 16px; } }
  @media (min-width: 1280px) {
    .social {
      gap: 32px; } }

.social-image {
  width: 24px; }
  @media (min-width: 768px) {
    .social-image {
      width: 40px; } }
  @media (min-width: 1280px) {
    .social-image {
      width: 48px; } }

.contact .material-icons {
  margin-right: 8px; }

@media (min-width: 768px) {
  .contact {
    width: 100%; }
    .contact .material-icons {
      font-size: 48px;
      margin-right: 16px; } }

.contact-item + .contact-item {
  margin-top: 8px; }

@media (min-width: 768px) {
  .contact-item:first-child {
    margin-top: 24px; } }

.contact-link {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400; }
  @media (min-width: 768px) {
    .contact-link {
      font-size: 36px;
      line-height: 54px; } }

@media (min-width: 768px) {
  .copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 48px; } }

.copyright-item {
  display: block;
  color: #ffffff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400; }
  .copyright-item + .copyright-item {
    margin-top: 8px; }
  @media (min-width: 768px) {
    .copyright-item:not(.copyright-item:first-child) {
      font-size: 14px;
      line-height: 21px; }
    .copyright-item:first-child {
      margin-right: auto; }
    .copyright-item + .copyright-item {
      margin: 0; } }

main.wrap {
  padding-top: 40px;
  padding-bottom: 64px; }
  @media (min-width: 768px) {
    main.wrap {
      padding-top: 80px;
      padding-bottom: 80px; } }
  @media (min-width: 1280px) {
    main.wrap {
      padding-top: 96px;
      padding-bottom: 80px; } }

h1.title {
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  padding-left: 12px;
  margin-bottom: 24px;
  border-left: 8px solid #9f1213; }
  @media (min-width: 768px) {
    h1.title {
      font-size: 48px;
      line-height: 72px;
      margin-bottom: 32px; } }

.option {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  @media (min-width: 768px) {
    .option {
      max-width: 416px; } }
  .option .option-title {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    margin-right: 8px; }
    @media (min-width: 768px) {
      .option .option-title {
        font-size: 24px;
        line-height: 36px;
        margin-right: 16px; } }
  .option select {
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
    color: #495057;
    padding: 6px 12px;
    border: 1px solid #CED4DA;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }
  .option::after {
    content: "▼";
    padding: 14px 6px;
    position: absolute;
    right: 10px;
    top: 0;
    z-index: 1;
    font-size: 12px;
    text-align: center;
    pointer-events: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

/* ----material icon---- */
.material-icons, .material-icons-outlined {
  vertical-align: middle; }

/* Rules for sizing the icon. */
.material-icons.md-18 {
  font-size: 18px; }

.material-icons.md-24 {
  font-size: 24px; }

.material-icons.md-36 {
  font-size: 36px; }

.material-icons.md-48 {
  font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54); }

.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light {
  color: white; }

.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3); }

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.page-item {
  border: 1px solid #555555;
  margin-left: -1px; }

.page-item.disabled {
  background-color: #F2F2F2; }

.page-item.active {
  background-color: #000000; }
  .page-item.active .page-link {
    color: #ffffff; }

.page-last-link, .page-next-link {
  display: block;
  color: #555555;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  cursor: pointer;
  -webkit-transition: all .1s;
  -o-transition: all .1s;
  transition: all .1s;
  padding: 12px 12.5px; }
  .page-last-link:hover, .page-next-link:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
    color: #aa0601; }
  @media (min-width: 768px) {
    .page-last-link, .page-next-link {
      font-size: 19px;
      line-height: 26px;
      padding: 11px 12px; } }

.page-link {
  display: block;
  color: #555555;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  cursor: pointer;
  -webkit-transition: all .1s;
  -o-transition: all .1s;
  transition: all .1s;
  padding: 12px 15px; }
  .page-link:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
    color: #aa0601; }
  @media (min-width: 768px) {
    .page-link {
      font-size: 18px;
      line-height: 24px;
      padding: 12px 16px; } }

.tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (min-width: 1280px) {
    .tab {
      max-width: 1320px;
      margin: 0 auto;
      padding-right: 12px;
      padding-left: 12px; } }
  .tab .tab-item {
    width: 33.333333%;
    border: 1px solid #DCDCDC;
    position: relative; }
    .tab .tab-item.active::after {
      content: '';
      position: absolute;
      height: 8px;
      width: calc(100% + 2px);
      left: -1px;
      bottom: -1px;
      background-color: #aa0601; }
  .tab .tab-link {
    display: block;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    padding: 16px 0;
    color: #000000;
    cursor: pointer;
    -webkit-transition: all .1s;
    -o-transition: all .1s;
    transition: all .1s; }
    .tab .tab-link:hover {
      color: #aa0601;
      background-color: #fbf2f2; }
    @media (min-width: 768px) {
      .tab .tab-link {
        font-size: 24px;
        line-height: 36px; } }
    @media (min-width: 1280px) {
      .tab .tab-link {
        font-size: 32px;
        line-height: 48px; } }

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%; }
  .banner img {
    width: 50%; }
  .banner.mobile-none {
    display: none; }
    @media (min-width: 1280px) {
      .banner.mobile-none {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; } }
  @media (min-width: 1280px) {
    .banner.desktop-none {
      display: none; } }

.product-title, .product-subtitle {
  font-size: 24px;
  line-height: 36px;
  font-weight: 500;
  text-align: center; }
  @media (min-width: 768px) {
    .product-title, .product-subtitle {
      font-size: 42px;
      line-height: 63px; } }

.product-subtitle {
  font-weight: 400; }
  @media (min-width: 768px) {
    .product-subtitle {
      font-size: 32px;
      line-height: 48px; } }

@media (min-width: 1280px) {
  main.wrap.product {
    padding-top: 80px; } }

.product-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 24px;
  padding-top: 24px;
  padding-bottom: 64px; }
  @media (min-width: 768px) {
    .product-wrap {
      margin-left: -12px;
      margin-right: -12px; } }
  @media (min-width: 1280px) {
    .product-wrap {
      row-gap: 48px; } }
  @media (min-width: 768px) {
    .product-wrap {
      row-gap: 40px;
      padding-top: 32px;
      padding-bottom: 80px; } }
  @media (min-width: 1280px) {
    .product-wrap {
      row-gap: 80px; } }

.product-card .product-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.product-card .product-picture {
  aspect-ratio: 2.07143; }
  @media (min-width: 768px) {
    .product-card .product-picture {
      aspect-ratio: 2; } }
  @media (min-width: 1280px) {
    .product-card .product-picture {
      aspect-ratio: 1.82143; } }

.product-card .product-name {
  width: 50%;
  font-size: 24px;
  line-height: 36px;
  font-weight: 400;
  color: #000000; }

.product-card .prodcut-price {
  width: 50%;
  text-align: right;
  font-size: 24px;
  line-height: 36px;
  font-weight: 500;
  color: #aa0601; }

.product-card .product-color {
  font-size: 0; }
  .product-card .product-color .bg-brown {
    background-color: #5F3E2D; }
  .product-card .product-color .bg-orange {
    background-color: #B75929; }
  .product-card .product-color span {
    display: inline-block;
    vertical-align: middle;
    border-radius: 4px;
    width: 24px;
    height: 24px;
    margin-right: 8px; }

h2.subtitle {
  font-size: 24px;
  line-height: 36px;
  font-weight: 700;
  margin-bottom: 24px; }

.faq-item + .faq-item {
  margin-top: 24px; }
  @media (min-width: 768px) {
    .faq-item + .faq-item {
      margin-top: 32px; } }

.faq-item h3 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 8px; }

.faq-item p {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400; }

.store-list {
  padding-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 24px; }
  @media (min-width: 768px) {
    .store-list {
      padding-top: 40px; } }
  @media (min-width: 768px) {
    .store-list {
      margin-left: -12px;
      margin-right: -12px; } }
  @media (min-width: 1280px) {
    .store-list {
      row-gap: 48px; } }

.store-name {
  font-size: 24px;
  line-height: 36px;
  color: #212529;
  border: 1px solid #00000020;
  padding-left: 24px;
  padding-top: 8px;
  padding-bottom: 8px; }

.store-pic {
  aspect-ratio: calc(348 / 224); }
  @media (min-width: 768px) {
    .store-pic {
      aspect-ratio: calc(336 / 224); } }
  @media (min-width: 1280px) {
    .store-pic {
      aspect-ratio: calc(416 / 224); } }

.store-info {
  padding: 16px 24px;
  border: 1px solid #00000020; }
  .store-info .material-icons-outlined {
    font-size: 24px;
    line-height: 30px;
    margin-right: 8px; }
  .store-info p {
    font-size: 20px;
    line-height: 30px;
    color: #212529; }

.store-info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .store-info-item + .store-info-item {
    margin-top: 8px; }

.more-btn {
  font-size: 19px;
  line-height: 27px;
  background-color: #000000;
  color: #ffffff;
  display: block;
  width: 100%;
  text-align: center;
  padding: 16px 0;
  cursor: pointer;
  -webkit-transition: all .1s;
  -o-transition: all .1s;
  transition: all .1s; }
  .more-btn:hover {
    background-color: #212529; }

.content {
  padding-top: 24px; }
  .content iframe {
    width: 100%;
    height: 208px; }
    @media (min-width: 768px) {
      .content iframe {
        height: 414px; } }
    @media (min-width: 1280px) {
      .content iframe {
        max-width: 57.56%; } }
  @media (min-width: 1280px) {
    .content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; } }

.store-information {
  padding-bottom: 24px; }
  @media (min-width: 768px) {
    .store-information {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-left: -12px;
      margin-right: -12px; }
      .store-information .store-pic {
        max-width: 50%;
        padding-left: 12px;
        padding-right: 12px;
        aspect-ratio: unset; }
      .store-information .detail {
        max-width: 50%;
        padding-left: 12px;
        padding-right: 12px; } }
  @media (min-width: 1280px) {
    .store-information {
      padding-bottom: 0;
      display: block;
      max-width: 40.586%;
      margin-left: 0px;
      margin-right: 24px; }
      .store-information .store-pic {
        padding: 0;
        max-width: 100%;
        aspect-ratio: 2.35714; }
      .store-information .detail {
        padding: 0;
        max-width: 100%; } }

.blog-nav {
  display: none; }
  @media (min-width: 768px) {
    .blog-nav {
      display: block;
      background-color: #650300; }
      .blog-nav .container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; } }

.blog-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 48px; }

.blog-nav-link {
  display: block;
  font-size: 20px;
  color: #ffffff;
  padding-top: 13px;
  padding-bottom: 13px;
  cursor: pointer;
  -webkit-transition: all .1s;
  -o-transition: all .1s;
  transition: all .1s; }
  .blog-nav-link:hover {
    color: #555555; }

.search-link.material-icons {
  display: block;
  padding-top: 8px;
  padding-bottom: 8px;
  color: #ffffff;
  font-size: 40px;
  cursor: pointer;
  -webkit-transition: all .1s;
  -o-transition: all .1s;
  transition: all .1s; }
  .search-link.material-icons:hover {
    color: #555555; }

.article-list {
  margin-bottom: 80px; }

.article-item + .article-item {
  margin-top: 24px; }
  @media (min-width: 1280px) {
    .article-item + .article-item {
      margin-top: 60px; } }

@media (min-width: 768px) {
  .article-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; } }

.article-head {
  margin-bottom: 8px; }
  @media (min-width: 768px) {
    .article-head {
      max-width: 50%;
      padding-right: 12px;
      margin-bottom: 0px; } }

.article-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  @media (min-width: 768px) {
    .article-body {
      max-width: 50%;
      padding-left: 12px;
      -ms-flex-line-pack: start;
          align-content: flex-start; } }
  @media (min-width: 1280px) {
    .article-body {
      display: block;
      position: relative; } }

.article-title {
  width: 100%;
  color: #650300;
  font-size: 24px;
  line-height: 36px;
  font-weight: 400; }
  @media (min-width: 1280px) {
    .article-title {
      font-size: 32px;
      line-height: 48px; } }

.article-subtitle {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  position: relative;
  width: 100%; }
  @media (min-width: 768px) {
    .article-subtitle {
      margin-bottom: 4px; } }
  @media (min-width: 1280px) {
    .article-subtitle {
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 16px; } }

.article-updated {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  opacity: 0.7;
  position: absolute;
  right: 0; }
  @media (min-width: 1280px) {
    .article-updated {
      line-height: 30px; } }

.article-note {
  display: none; }

@media (min-width: 768px) {
  .article-note-tablet {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #555555;
    display: block; } }

@media (min-width: 1280px) {
  .article-note-tablet {
    display: none; } }

@media (min-width: 1280px) {
  .article-note-desktop {
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
    color: #555555;
    display: block; } }

.more-link {
  display: none;
  cursor: pointer;
  -webkit-transition: all .1s;
  -o-transition: all .1s;
  transition: all .1s; }
  @media (min-width: 1280px) {
    .more-link {
      display: block;
      color: #650300;
      font-size: 36px;
      line-height: 54px;
      font-weight: 900;
      position: absolute;
      bottom: 0;
      right: 0; } }
  .more-link:hover {
    color: #fbf2f2; }

/*# sourceMappingURL=all.css.map */
